---
import MyAntdLayout from '../components/Layout';
import Layout from '../layouts/Layout.astro';
import 'antd/dist/reset.css';
---

<Layout title="Welcome to Astro.">
	<MyAntdLayout client:idle>
		<div>12</div>
	</MyAntdLayout>
</Layout>

<style>
</style>
